<p>Login</p>

<form [formGroup] = "formGroup">
  <div>E-mail address:</div>
  <input type="email"
      [formControl] = "formGroup.controls.username">
  <div>Password:</div>
  <input type="password"
      [formControl] = "formGroup.controls.password">
  <div *ngIf="formGroup.invalid && (formGroup.dirty || formGroup.touched)"
  class="alert alert-danger">
    E-mail address or password has an invalid format.
    (Password minimum length is 8 and needs at least 1 uppercase letter.)
  </div>
  <div *ngIf="!validUser">
    Wrong e-mail address or password.
  </div>
  <div>
    <button (click) = "login()" [disabled] = "formGroup.invalid || authService.loggedIn">Login</button>
    <button (click) = "logout()" [disabled] = "!authService.loggedIn">Logout</button>
  </div>
  <div *ngIf="authService.IsTokenValid() && authService.loggedIn">
    You are now logged in.
  </div>
  <div *ngIf="!authService.IsTokenValid() || !authService.loggedIn">
    You are now logged out.
  </div>
</form>
